Everest/Notebooks/himalayan_output/
Everest/Notebooks/himalayan_tidy/
Everest/Notebooks/.ipynb_checkpoints/
Everest/Notebooks/.jupyter/
Everest/.ipynb_checkpoints/
Everest/.jupyter/
Everest/OLD
.ipynb_checkpoints/


